.featured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  
}

.featured-items{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
    z-index: 1;

}

.featured-img{
    width: 100%;
    object-fit:cover;
}

.featured-titles{
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.home-title{
    width: 1024px;
    font-size: 20px;
}
